<clr-header class="header header-3">
  <div class="branding">
    <a href="/" class="nav-link">
      <cds-icon shape="flame"></cds-icon>
      <span class="title">{{ name | async }}</span>
    </a>
  </div>
  <div class="header-actions">
    <a
      class="nav-link nav-icon"
      *ngIf="!isAuthenticated(); else loggedInMenu"
      [routerLink]="['/login']"
      aria-label="login"
    >
      <cds-icon shape="login"></cds-icon>
    </a>
    <ng-template #loggedInMenu>
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{ user?.attributes.email }}
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a routerLink="edit" clrDropdownItem>Edit</a> -->
          <button (click)="onLogoutClick()" clrDropdownItem>Log out</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </ng-template>
  </div>
</clr-header>
