<clr-main-container>
  <clr-header class="header header-3">
    <div class="branding">
      <a href="/" class="nav-link">
        <cds-icon shape="flame"></cds-icon>
        <span class="title">{{ name | async }}</span>
      </a>
    </div>
    <!-- <div class="header-actions" *ngIf="!loading">
      <a
        [href]="resume"
        target="_blank"
        class="nav-link tooltip tooltip-sm tooltip-bottom-left"
        role="tooltip"
        aria-haspopup="true"
      >
        <clr-icon shape="file"></clr-icon>
        <span class="tooltip-content">View my Resume</span>
      </a>
    </div> -->
  </clr-header>

  <nav class="subnav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item" *ngFor="let type of entryTypes | async">
        <a class="nav-link" href="#{{ type }}">{{ type | titlecase }}</a>
      </li>
    </ul>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <!-- Card Style Data -->
      <div
        class="clr-row fullscreen"
        [id]="type"
        *ngFor="let type of entryTypes | async;"
      >
        <ng-container *ngIf="(entriesByType$ | async) as entriesByType">
          <app-card class="clr-col-lg-8 clr-offset-lg-2 clr-col-12" [resumeEntries]="entriesByType[type]"></app-card>
        </ng-container>
      </div>
    </div>
  </div>
</clr-main-container>
