<header class="header header-3">
  <div class="branding">
      <a href="..." class="nav-link">
          <clr-icon shape="flame"></clr-icon>
          <span class="title">This could be my name</span>
      </a>
  </div>
  <div class="header-actions">
      <a href="..." class="nav-link nav-text">
          This could be my email, but I don't wanna hardcode anything
      </a>
  </div>
</header>

<nav class="subnav">
  <ul class="nav">
      <li class="nav-item" *ngFor="let sheet of sheetsData.valueRanges">
          <a class="nav-link" href="#">{{ getPageName(sheet) }}</a>
      </li>
  </ul>
</nav>
